/*定义统一样式，方便以后更换皮肤*/

$page-background-color: #f0f2f5 !default;
$input-background-color: #F4F4F4 !default;
$side-background-active: #3E3E49 !default;
$side-background-normal: #4B4B57 !default;

$normal-color: #4B4B57 !default;
$default-color: #32455B !default;
$light-color: #949FA8 !default;
$light-color1: #9A9A9A !default;
$active-color: #5D99FF !default;
$fail-color: #DB4D3F !default;
$success-color: #54D1C7 !default;
$btn-color: #476180 !default;
$warn-color: #f0ad4e !default;

$border-default-color: #E5E5E5 !default;
$border-active-color: #E33431 !default;

$box-shadow-color: #D2D2D2 !default;

$font-size-sm: 12px !default;
$font-size-md: 14px !default;
$font-size-lg: 16px !default;
$font-size-xl: 18px !default;
$font-size-xll: 21px !default;
$font-size-big: 28px !default;