blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

body {
  font-size: 12px;
}

/*h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}*/

address, cite, dfn, em, var {
  font-style: normal
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace
}

small {
  font-size: 12px
}

ol, ul {
  list-style: none
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

legend {
  color: #000
}

fieldset, img {
  border: 0
}

/*button, input, select, textarea {
  font-size: 100%
}*/

table {
  border-collapse: collapse;
  border-spacing: 0
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
  background: $page-background-color;
}
/*滚动条样式*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $page-background-color;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $light-color;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $normal-color;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $page-background-color;
}
