<main class="login">

    <div class="login-main" style="height: 360px">
        <div class="login-header">管理系统</div>
        <div class="login-input" style="height: 120px">
            <div class="flex-1 flex column relative">
                <input type="tel" placeholder="手机号" ng-model="vm.userPhone">
                <span class="absolute get-code" ng-click="vm.getCode()">获取验证码</span>
            </div>
            <input type="text" placeholder="验证码" ng-model="vm.smsCode">
            <input type="text" placeholder="姓名" ng-model="vm.userName">
            <input type="password" placeholder="请设置登录密码" ng-model="vm.userPassword">
        </div>

        <input class="margin-top-xl" type="button" value="注册" ng-click="vm.register()">
        <div class="flex justify-content-center margin-top-xl" style="width: 300px">
            有账户？<a href="/login" class="free-register">立即登录</a>
        </div>
    </div>

</main>